main{
    
    place-items: center;
}

main li{
    padding: 5px;
    list-style: none;
    
    
}
.deletebutton{
    size: 50%; 
    padding: 0;
    margin-left: 3px;  
}
.deletebutton:hover
{
    color: red;
    outline: 0;
    
}
.edit
{
    padding-left: 5px;
    padding-right: 5px;
}
.edit:hover
{
    outline: 0;
    color: rgb(83, 255, 83);
}
.load
{
    text-align: center;
    font-size: 500%;
}